---
import AdminLayout from '../../layouts/AdminLayout.astro';
import AdminPageHeader from '../../components/astro/AdminPageHeader.astro';
import { AdminUsersManager } from '../../components/react/AdminUsersManager';
import { BusinessConfig } from '../../components/react/BusinessConfig';
---

<AdminLayout>
  <AdminPageHeader title="Configuración" />
  <div class="space-y-6">
    <BusinessConfig client:load />
    <AdminUsersManager client:load />
  </div>
</AdminLayout>
